<!DOCTYPE html>
<html
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorator="layout.html">
<head>
<meta charset= "UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<title></title>

</head>

<body>
<header>
		<h1 layout:fragment="custom-title">Liste des Figures</h1> 
	</header>


<a th:href="@{ajouterFigure(id=${piece.id})}">Ajouter une figure</a>
<br>
<a href="ListePiece">Liste des Pieces</a>

<section layout:fragment="custom-content"> 
<table class="table">
<thead class="thead-dark">
   <tr>
     <th scope="col">id</th>
     
    </tr>
 </thead>
  <tbody>
<tr th:each="figure:${figures}">
     <!-- <th scope="row">1</th> -->
     <td th:text="${figure.id}"></td>
	<td><a th:href="@{supprimerFigure(id=${figure.id})}">Supprimer</a></td>
	<td><a th:href="@{ListePoint(id=${figure.id})}">Points</a></td>
	
</tr>
</tbody>
</table>
</section>
</body>
</html>