<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>plateauTetris</title>
<base href="base href="/formation-html5/"">
<link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="sticky-footer.css" />
<meta name="viewport" content="width=devide-width, initial-scale=1" />

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>


</head>


<body>
	<div class="btn-group">
		 <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
		   Menu
		 </button>
		 <div class="dropdown-menu dropdown-menu-right">
		   <a class="dropdown-item" data-target="Son.html" type="button">Son</button>
		   <a class="dropdown-item" data-target="connectionTetris.html" type="button">Changer d'utilisateur</button>
		   <a class="dropdown-item"  data-target="nvxPartie.html"type="button">Nouvelle Partie</button>
		   <a class="dropdown-item"  data-target="TblScores.html"type="button">Tableau des scores</button>
		 </div>
	</div>
	<header>
		<h1 class="text-center">NomJoueur</h1>
		<h2 class="text-center">MeilleurScoreJoueur</h2>
	</header>
	<div class="form-group row">
		<div class="col">
			<br>
			<br>
			<br>
			<br>
			<br>
			<div class ="card bg-dark text-white " style="max-width : 200px">
				<div class="card-body">
					<h5 class="card-title">Score</h5>
					<p class="card-text">Score</p>
				</div>
			</div>	
			<br>
			<br>
			<br>
			<br>
			<br>
			<div class ="card bg-dark text-white " style="max-width : 200px">
					<div class="card-body">
						<h5 class="card-title">Niveau</h5>
						<p class="card-text">Niveau</p>
					</div>
			</div>
		</div>	
			<div class="col">
				<div class="card" style="width: 400px; height: 600px; background-color: rgba(0,0,255,0.1);">
				</div>
			</div>
	</div>
</body>
	
</html>